<%- include('./Components/head.ejs') %>

    <body>
        <%- include('./Components/navbar.ejs') %>
            <br>
            <br>
            <div class="container">
                <h2 style="border-left: 0.5em solid gold;"><b><i>Drama</i></b></h2>
                <div class="row">
                    <% for(let movies of Drama) {%>
                        <% if((movies.poster_path && movies.overview) && movies.popularity>3){ %>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
                                <form action="movies/<%=movies.id %>" method="get">
                                    <div class="text-center">
                                        <img src="https://image.tmdb.org/t/p/w185<%=movies.poster_path  %>" alt=""
                                            class="img-fluid">
                                    </div>
                                    <div class="text-center mt-2 " style="color: white; font-size: 75%;">
                                        <p><b>
                                                <%= movies.original_title %>
                                            </b></p>
                                        <button class="btn btn-warning btn-sm"><b>Know More</b></button>
                                    </div>
                                </form>
                            </div>
                            <% } %>
                                <% } %>
                </div>
            </div>
            <br>
            <br>
            <div class="container">
                <h2 style="border-left: 0.5em solid gold;"><b><i>Action</i></b></h2>
                <div class="row">
                    <% for(let movies of data) {%>
                        <% if((movies.poster_path && movies.overview) && movies.popularity>3){ %>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
                                <form action="movies/<%=movies.id %>" method="get">
                                    <div class="text-center">
                                        <img src="https://image.tmdb.org/t/p/w185<%=movies.poster_path  %>" alt=""
                                            class="img-fluid">
                                    </div>
                                    <div class="text-center mt-2 bg-dark" style="color: white; font-size: 75%;">
                                        <p><b>
                                                <%= movies.original_title %>
                                            </b></p>
                                        <button class="btn btn-warning btn-sm"><b>Know More</b></button>
                                    </div>
                                </form>
                            </div>
                            <% } %>
                                <% } %>
                </div>
            </div>
            <br>
            <br>
            <div class="container mx-auto">
                <h2 style="border-left: 0.5em solid gold;"><b><i>Adventure</i></b></h2>
                <div class="row">
                    <% for(let movies of Adventure) {%>
                        <% if((movies.poster_path && movies.overview) && movies.popularity>3){ %>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
                                <form action="movies/<%=movies.id %>" method="get">
                                    <div class="text-center">
                                        <img src="https://image.tmdb.org/t/p/w185<%=movies.poster_path  %>" alt=""
                                            class="img-fluid">
                                    </div>
                                    <div class="text-center mt-2 bg-dark" style="color: white; font-size: 75%;">
                                        <p><b>
                                                <%= movies.original_title %>
                                            </b></p>
                                        <button class="btn btn-warning btn-sm"><b>Know More</b></button>
                                    </div>
                                </form>
                            </div>
                            <% } %>
                                <% } %>
                </div>
            </div>
            <br>
            <br>
            <%- include('./Components/footer.ejs') %>
    </body>

    </html>